* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}
footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: top;
    background-color: aquamarine;
    padding: 1.5rem;
}

footer > * {
    display: inline-block;
    vertical-align: middle;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #FFFFFF;
    font-size: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
    flex-direction: column;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    text-align: center;
    margin: 5%;
}

.about-me img {
    width: 300px;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.about-me-imgbox {
    text-align: center;
}

.about-me-text {
    display: grid;
    align-content: center;
    grid-gap: 20px;
}

.about-me-socials {
    font-size: 24px;
}

.contact-me-socials {
    font-size: 24px;
}

.contact-me img {
    height: 300px;
    width: auto;
}